body {
    background-color: rgb(12, 134, 235);
    color: white;
}
 .heading {
     width: 80%;
     font-size: 30px;
 }

 #list_of_objects {
     color:rgb(82, 19, 88);
     font-size: 15px;
 }

 #camera {
     border-width: 4px;
     border-style: dashed;
     width: 310px;
     height:240px;
 }

 #identified_object,#accuracy_number {
     color:rgb(0, 0, 0);
 }


